/*     brand Colors              */
/*      light colors         */
.alert {
  border: 0;
  border-radius: 0.1875rem;
  color: #FFFFFF;
  padding: .75rem 1.25rem;
  padding-top: .9rem;
  padding-bottom: .9rem;
  position: relative;
  margin-bottom: 1rem;
}

.alert.alert-success {
  background-color: #009260;
}

.alert.alert-danger {
  background-color: #be004f;
}

.alert.alert-warning {
  background-color: #ffa21a;
}

.alert.alert-info {
  background-color: #0aa5e5;
}

.alert.alert-primary {
  background-color: #7d59aa;
}

.alert i.fa,
.alert i.now-ui-icons {
  font-size: 20px;
}

.alert .close {
  opacity: .9;
  text-shadow: none;
  line-height: 0;
  outline: 0;
}

.alert .close, .alert .close:not(:disabled):not(.disabled):hover, .alert .close:not(:disabled):not(.disabled):focus {
  color: #FFFFFF;
}

.alert .close span {
  font-weight: 100;
  font-size: 46px;
  top: 50%;
  left: 0;
  position: absolute;
}

.alert span[data-notify="icon"] {
  font-size: 22px;
  display: block;
  left: 19px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
}

.alert button.close {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
  width: 25px;
  height: 25px;
  padding: 3px;
}

.alert .close ~ span {
  display: block;
  max-width: 89%;
}

.alert.alert-with-icon {
  padding-left: 65px;
}

.navbar .navbar-nav .nav-link i.fa + p,
.navbar .navbar-nav .nav-link i.now-ui-icons + p {
  margin-left: 6px;
}

@media screen and (max-width: 991px) {
  .navbar .dropdown.show .dropdown-menu, .navbar .dropdown .dropdown-menu {
    position: static !important;
  }
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.wrapper.wrapper-full-page {
  min-height: 100vh;
  height: auto;
}

.sidebar .sidebar-wrapper,
.main-panel {
  overflow: auto;
  overflow-x: hidden;
}

.sidebar,
.main-panel {
  height: 100%;
  max-height: 100;
}

.sidebar,
.off-canvas-sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 260px;
  left: 0;
  z-index: 1031;
}

.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 100px;
}

.sidebar .sidebar-wrapper .dropdown .dropdown-backdrop,
.off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
  display: none !important;
}

.sidebar .sidebar-wrapper .navbar-form,
.off-canvas-sidebar .sidebar-wrapper .navbar-form {
  border: none;
}

.sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a span,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a span,
.off-canvas-sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a span,
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a span {
  display: inline-block;
}

.sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a i,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a i,
.off-canvas-sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a i,
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a i {
  font-size: 17px;
  line-height: 20px;
  width: 26px;
}

.sidebar .navbar-minimize,
.off-canvas-sidebar .navbar-minimize {
  position: absolute;
  right: 20px;
  top: 2px;
  opacity: 1;
}

.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}

.sidebar .logo-tim img,
.off-canvas-sidebar .logo-tim img {
  width: 60px;
  height: 60px;
}

.sidebar .nav,
.off-canvas-sidebar .nav {
  margin-top: 20px;
  display: block;
}

.sidebar .nav .caret,
.off-canvas-sidebar .nav .caret {
  top: 14px;
  position: absolute;
  right: 10px;
}

.sidebar .nav li > a + div .nav li > a,
.off-canvas-sidebar .nav li > a + div .nav li > a {
  margin-top: 7px;
}

.sidebar .nav li > a,
.sidebar .nav li > a:not([href]):not([tabindex]):focus,
.sidebar .nav li > a:not([href]):not([tabindex]):hover,
.off-canvas-sidebar .nav li > a,
.off-canvas-sidebar .nav li > a:not([href]):not([tabindex]):focus,
.off-canvas-sidebar .nav li > a:not([href]):not([tabindex]):hover {
  margin: 10px 15px 0;
  border-radius: 30px;
  color: #444;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.7142em;
  padding: 10px 8px;
  line-height: 1.625rem;
}

.sidebar .nav li:first-child > a,
.off-canvas-sidebar .nav li:first-child > a {
  margin: 0 15px;
}

.sidebar .nav li:hover:not(.active) > a,
.sidebar .nav li:focus:not(.active) > a,
.off-canvas-sidebar .nav li:hover:not(.active) > a,
.off-canvas-sidebar .nav li:focus:not(.active) > a {
  background-color: rgba(113, 79, 155, 0.1);
}

.sidebar .nav li:hover:not(.active) > a i .sidebar .nav li:focus:not(.active) > a i,
.off-canvas-sidebar .nav li:hover:not(.active) > a i .sidebar .nav li:focus:not(.active) > a i, .sidebar .nav li:hover:not(.active) > a i
.off-canvas-sidebar .nav li:focus:not(.active) > a i,
.off-canvas-sidebar .nav li:hover:not(.active) > a i
.off-canvas-sidebar .nav li:focus:not(.active) > a i {
  color: #444;
}

.sidebar .nav li.active > a:not([data-toggle="collapse"]),
.off-canvas-sidebar .nav li.active > a:not([data-toggle="collapse"]) {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
          box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
}

.sidebar .nav li.active > a:not([data-toggle="collapse"]) p,
.off-canvas-sidebar .nav li.active > a:not([data-toggle="collapse"]) p {
  color: black;
}

.sidebar .nav li.active > a:not([data-toggle="collapse"]) i,
.off-canvas-sidebar .nav li.active > a:not([data-toggle="collapse"]) i {
  color: #714f9b !important;
}

.sidebar .nav li.active > a[data-toggle="collapse"],
.off-canvas-sidebar .nav li.active > a[data-toggle="collapse"] {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #444;
}

.sidebar .nav li.active > a[data-toggle="collapse"] i,
.off-canvas-sidebar .nav li.active > a[data-toggle="collapse"] i {
  color: #444;
}

.sidebar .nav li.active > a[data-toggle="collapse"] + div .nav .active a:after,
.off-canvas-sidebar .nav li.active > a[data-toggle="collapse"] + div .nav .active a:after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
          box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
  color: #714f9b;
  height: 44px;
  width: calc(100% - 5px);
  top: 0;
  left: 2px;
  z-index: 0;
}

.sidebar .nav p,
.off-canvas-sidebar .nav p {
  margin: 0;
  line-height: 30px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
  -webkit-transition: opacity 300ms ease 0s, -webkit-transform 300ms ease 0s;
  transition: opacity 300ms ease 0s, -webkit-transform 300ms ease 0s;
  transition: transform 300ms ease 0s, opacity 300ms ease 0s;
  transition: transform 300ms ease 0s, opacity 300ms ease 0s, -webkit-transform 300ms ease 0s;
}

.sidebar .nav i,
.off-canvas-sidebar .nav i {
  font-size: 20px;
  float: left;
  margin-right: 12px;
  line-height: 30px;
  width: 34px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  color: #444;
}

.sidebar .sidebar-background,
.off-canvas-sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

.sidebar .sidebar-background:after,
.off-canvas-sidebar .sidebar-background:after {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #FFFFFF;
  opacity: 1;
}

.sidebar .logo,
.off-canvas-sidebar .logo {
  position: relative;
  padding: 0.5rem 0.7rem;
  z-index: 4;
}

.sidebar .logo a.logo-mini,
.off-canvas-sidebar .logo a.logo-mini {
  opacity: 1;
  float: left;
  width: 34px;
  text-align: center;
  margin-left: 10px;
  margin-right: 12px;
}

.sidebar .logo a.logo-normal,
.off-canvas-sidebar .logo a.logo-normal {
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.sidebar .logo p,
.off-canvas-sidebar .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 0.5rem 0;
  display: block;
  white-space: nowrap;
  font-size: 1em;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

.sidebar .logo-tim,
.off-canvas-sidebar .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}

.sidebar .logo-tim img,
.off-canvas-sidebar .logo-tim img {
  width: 60px;
  height: 60px;
}

.sidebar:before, .sidebar:after,
.off-canvas-sidebar:before,
.off-canvas-sidebar:after {
  display: block;
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sidebar:after,
.off-canvas-sidebar:after {
  background: #888;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), color-stop(80%, #000));
  background: linear-gradient(#888 0%, #000 80%);
  z-index: 3;
}

.sidebar[data-color="blue"]:after,
.off-canvas-sidebar[data-color="blue"]:after {
  background: #0993cd;
}

.sidebar[data-color="blue"] .nav li.active > a,
.off-canvas-sidebar[data-color="blue"] .nav li.active > a {
  color: #0993cd;
}

.sidebar[data-color="blue"] .nav li.active > a i,
.off-canvas-sidebar[data-color="blue"] .nav li.active > a i {
  color: #0993cd;
}

.sidebar[data-color="light-bg"]:after,
.off-canvas-sidebar[data-color="light-bg"]:after {
  background: #e9e9e9;
}

.sidebar[data-color="light-bg"] .nav li.active > a,
.off-canvas-sidebar[data-color="light-bg"] .nav li.active > a {
  color: #e9e9e9;
}

.sidebar[data-color="light-bg"] .nav li.active > a i,
.off-canvas-sidebar[data-color="light-bg"] .nav li.active > a i {
  color: #e9e9e9;
}

.sidebar[data-color="primary-light"]:after,
.off-canvas-sidebar[data-color="primary-light"]:after {
  background: #e4ddee;
}

.sidebar[data-color="primary-light"] .nav li.active > a,
.off-canvas-sidebar[data-color="primary-light"] .nav li.active > a {
  color: #e4ddee;
}

.sidebar[data-color="primary-light"] .nav li.active > a i,
.off-canvas-sidebar[data-color="primary-light"] .nav li.active > a i {
  color: #e4ddee;
}

.sidebar[data-color="white"]:after,
.off-canvas-sidebar[data-color="white"]:after {
  background: #FFFFFF;
}

.sidebar[data-color="white"] .nav li.active > a,
.off-canvas-sidebar[data-color="white"] .nav li.active > a {
  color: #FFFFFF;
}

.sidebar[data-color="white"] .nav li.active > a i,
.off-canvas-sidebar[data-color="white"] .nav li.active > a i {
  color: #FFFFFF;
}

.sidebar[data-color="green"]:after,
.off-canvas-sidebar[data-color="green"]:after {
  background: #00784f;
}

.sidebar[data-color="green"] .nav li.active > a,
.off-canvas-sidebar[data-color="green"] .nav li.active > a {
  color: #00784f;
}

.sidebar[data-color="green"] .nav li.active > a i,
.off-canvas-sidebar[data-color="green"] .nav li.active > a i {
  color: #00784f;
}

.sidebar[data-color="orange"]:after,
.off-canvas-sidebar[data-color="orange"]:after {
  background: #f96332;
}

.sidebar[data-color="orange"] .nav li.active > a,
.off-canvas-sidebar[data-color="orange"] .nav li.active > a {
  color: #f96332;
}

.sidebar[data-color="orange"] .nav li.active > a i,
.off-canvas-sidebar[data-color="orange"] .nav li.active > a i {
  color: #f96332;
}

.sidebar[data-color="red"]:after,
.off-canvas-sidebar[data-color="red"]:after {
  background: #714f9b;
}

.sidebar[data-color="red"] .nav li.active > a,
.off-canvas-sidebar[data-color="red"] .nav li.active > a {
  color: #714f9b;
}

.sidebar[data-color="red"] .nav li.active > a i,
.off-canvas-sidebar[data-color="red"] .nav li.active > a i {
  color: #714f9b;
}

.sidebar[data-color="yellow"]:after,
.off-canvas-sidebar[data-color="yellow"]:after {
  background: #ff9800;
}

.sidebar[data-color="yellow"] .nav li.active > a,
.off-canvas-sidebar[data-color="yellow"] .nav li.active > a {
  color: #ff9800;
}

.sidebar[data-color="yellow"] .nav li.active > a i,
.off-canvas-sidebar[data-color="yellow"] .nav li.active > a i {
  color: #ff9800;
}

.visible-on-sidebar-regular {
  display: inline-block !important;
}

.visible-on-sidebar-mini {
  display: none !important;
}

.off-canvas-sidebar .nav > li > a,
.off-canvas-sidebar .nav > li > a:hover {
  color: #FFFFFF;
}

.off-canvas-sidebar .nav > li > a:focus {
  background: rgba(200, 200, 200, 0.2);
}

.main-panel {
  position: relative;
  float: right;
  background-color: #E3E3E3;
  background-color: #ebecf1;
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel div > .content {
  padding: 0 30px 30px;
  min-height: calc(100vh - 123px);
  margin-top: -30px;
}

.main-panel > .navbar {
  margin-bottom: 0;
}

.main-panel .header {
  margin-bottom: 50px;
}

.perfect-scrollbar-on .sidebar,
.perfect-scrollbar-on .main-panel {
  height: 100%;
  max-height: 100%;
}

@media (min-width: 991px) {
  .sidebar,
  .main-panel,
  .sidebar-wrapper {
    -webkit-transition-property: top,bottom,width;
    -webkit-transition-property: top,bottom, width;
    transition-property: top,bottom, width;
    -webkit-transition-duration: .2s,.2s, .35s;
    transition-duration: .2s,.2s, .35s;
    -webkit-transition-timing-function: linear,linear,ease;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
  }
}

.panel-header {
  height: 260px;
  padding-top: 80px;
  padding-bottom: 45px;
  position: relative;
  background-image: linear-gradient(-45deg, #a0b9b9 0%, #714f9b 100%);
}

.panel-header .header .title {
  color: #FFFFFF;
}

.panel-header .header .category {
  max-width: 600px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  font-size: 13px;
}

.panel-header .header .category a {
  color: #FFFFFF;
}

.panel-header-sm {
  height: 135px;
}

.panel-header-lg {
  height: 380px;
}

.panel-header-xl {
  height: 440px;
}

.panel-header-xxl {
  height: 510px;
}

.sidebar,
.main-panel,
.sidebar-wrapper {
  -webkit-overflow-scrolling: touch;
}

.table .img-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.table .img-row {
  max-width: 60px;
  width: 60px;
}

.table .form-check {
  margin: 0;
}

.table .form-check label .form-check-sign::before,
.table .form-check label .form-check-sign::after {
  top: -17px;
  left: 4px;
}

.table .btn {
  margin: 0;
}

.table small, .table .small {
  font-weight: 300;
}

.card-tasks .card-body .table {
  margin-bottom: 0;
}

.card-tasks .card-body .table > thead > tr > th,
.card-tasks .card-body .table > tbody > tr > th,
.card-tasks .card-body .table > tfoot > tr > th,
.card-tasks .card-body .table > thead > tr > td,
.card-tasks .card-body .table > tbody > tr > td,
.card-tasks .card-body .table > tfoot > tr > td {
  padding-top: 0;
  padding-bottom: 0;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 1.45em;
  font-weight: 300;
  border: 0;
}

.table .radio,
.table .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 15px;
}

.table .radio .icons,
.table .checkbox .icons {
  position: relative;
}

.table .radio label:after, .table .radio label:before,
.table .checkbox label:after,
.table .checkbox label:before {
  top: -17px;
  left: -3px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px 7px;
  vertical-align: middle;
}

.table .th-description {
  max-width: 150px;
}

.table .td-price {
  font-size: 26px;
  font-weight: 300;
  margin-top: 5px;
  position: relative;
  top: 4px;
  text-align: right;
}

.table .td-total {
  font-weight: 700;
  font-size: 1.57em;
  padding-top: 20px;
  text-align: right;
}

.table .td-actions .btn {
  margin: 0px;
}

.table > tbody > tr {
  position: relative;
}

.table-shopping > thead > tr > th {
  font-size: 1em;
  text-transform: uppercase;
}

.table-shopping > tbody > tr > td {
  font-size: 1em;
}

.table-shopping > tbody > tr > td b {
  display: block;
  margin-bottom: 5px;
}

.table-shopping .td-name {
  font-weight: 400;
  font-size: 1.5em;
}

.table-shopping .td-name small {
  color: #9A9A9A;
  font-size: 0.75em;
  font-weight: 300;
}

.table-shopping .td-number {
  font-weight: 300;
  font-size: 1.714em;
}

.table-shopping .td-name {
  min-width: 200px;
}

.table-shopping .td-number {
  text-align: right;
  min-width: 170px;
}

.table-shopping .td-number small {
  margin-right: 3px;
}

.table-shopping .img-container {
  width: 120px;
  max-height: 160px;
  overflow: hidden;
  display: block;
}

.table-shopping .img-container img {
  width: 100%;
}

.table-responsive {
  overflow: auto;
  padding-bottom: 10px;
}

#tables .table-responsive {
  margin-bottom: 30px;
}
/*# sourceMappingURL=react-differences.css.map */